body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    color: white;
    font-family: Arial, sans-serif;
}

#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    width: 100px;
    height: 100px;
    margin: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.1s;
}

.button:active {
    transform: scale(0.9);
}
